%p#notice= notice
= link_to 'Edit', edit_blog_path(@blog) if author_signed_in?
|
= link_to 'Back', blogs_path
%h2
  = @blog.title
%p
  = @blog.body

%br
%h2 Comments
#comments-container
  = nested_comments(@comments)
#comments-load-more
  - unless @root_comments.last_page?
    = link_to "Load more", blog_path(id: @blog.id, page: @root_comments.current_page+1), remote: true

%br
%h2 Add a comment:
= render 'comments/form', parent_id: nil
