%p#notice= notice
= link_to 'Edit', edit_blog_path(@blog) if author_signed_in?
|
= link_to 'Back', blogs_path
%h2
  = @blog.title
%p
  = @blog.body

%br
%h2 Comments
= nested_comments(@blog.comments.arrange)
%br
%h2 Add a comment:
= render 'comments/form', parent_id: nil
