%p
  %strong Commenter:
  = comment.commenter
%p
  %strong Comment:
  = comment.body
%p
  %button{:onclick => "display_form(#{comment.id})"} Reply
  %div{id: "reply#{comment.id}",style: 'display: none;'}
    = render 'comments/form', parent_id: comment.id

  = link_to 'Destroy Comment', [comment.blog, comment], |
    method: :delete,                                       |
    data: { confirm: 'Are you sure?' }                     |

:javascript
   function display_form(id) {
    let form_id = '#reply' + id
    $(form_id).toggle()
   }
